@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Extrabld.eot");
    src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.eot");
    src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Black.eot");
    src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Bold.eot");
    src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    background: #f7f3fa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
}

section {
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 1500px;
}

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* min-height: 1000px; */
}

.container_header {
    padding: 0 168px;
}

.image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

nav {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    text-decoration: none;
    display: flex;
    gap: 8.35px;
}

.header_logo p {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav_list li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}

.nav_btns a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    margin-right: 38px;
}

.nav_btn {
    background: #ffbc51;
    border-radius: 96px;
    border: none;
    padding: 12px 40px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    cursor: pointer;
}

.main {
    max-width: 397px;
    margin-top: 160px;
}

.header_title {
    font-weight: 800;
    font-size: 54.7642px;
    line-height: 67px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_text {
    margin-top: 18.25px;

    font-size: 18.2547px;
    line-height: 22px;
    color: #ffffff;
}

.header_btn {
    margin-top: 53.02px;
    background: #798ac9;
    border: 1px solid rgba(171, 163, 163, 0.2);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 14px 60px;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.header_img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) !important;
    right: 50px;
}

.blocks {
    min-height: 610px;
}

.blocks_container {
    position: relative;
}

.blocks_main {
    position: absolute;
    max-width: 377px;
    padding: 42px 0 0 46px;
    top: 0;
    right: 258px;
}

.title-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
}

.title-text span {
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #5c0e62;
}

.descr-text {
    margin-top: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
}

.link {
    display: inline-block;
    text-decoration: none;
    margin-top: 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #5c0e62;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    width: 17.5px;
    height: 10px;
    right: -13px;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    background: url("../img/arrow.svg") no-repeat center / cover;
}

.blocks_wrapper {
    position: absolute;
    left: 175px;
    top: 121px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 607px;
}

.blocks_item {
    max-width: 280px;
    max-height: 164px;
    padding: 30px 30px 30px 49px;
    background: #ffffff;
    box-shadow: 7px 10px 50px #e8e2f0;
    border-radius: 4px;
    position: relative;
}

.blocks_item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(150.72deg, #00b5d0 3.87%, #5c0e62 110.68%);
    box-shadow: 7px 10px 50px #e8e2f0;
    border-radius: 10px 0px 0px 10px;
}

.blocks_item:nth-child(odd) {
    margin-top: 60px;
}

.block_name {
    margin-top: 2px;
    font-weight: 700;
    font-size: 22px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #5c5e6e;
}

.block_descr {
    margin-top: 8px;
    font-size: 16px;
    line-height: 128.6%;
    letter-spacing: 0.075em;
    color: #756f6f;
    opacity: 0.7;
}

.logos {
    margin: 70px 0;
    min-height: 35px;
}

.logos_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 139px;
}

.tablet {
    min-height: 480px;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.white-block {
    max-width: 345px;
    padding: 38.35px 0 0 42px;
    position: relative;
}

.tablet_block {
    margin-left: 291px;
    margin-top: 60px;
}

.red-text {
    font-weight: 700;
    font-size: 12.7849px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #e23434;
    margin-bottom: 4px;
}

.tablet_wrapper img {
    margin-right: 219px;
}

.pink-block::before {
    content: "";
    width: 88px;
    height: 91px;
    background: url("../img/Subtract.svg") no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.white-block::before {
    content: "";
    width: 88px;
    height: 91px;
    background: url("../img/Subtract_pink.svg") no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.body_wrapper,
.last_wrapper {
    position: relative;
    height: 100%;
}

.body_image {
    top: -250px;
}

.gallery_wrapper {
    margin-top: 20px;
}

.gallery_wrapper img {
    margin-left: 160px;
    margin-top: -90px;
}

.gallery_block {
    margin-right: 258px;
}

.photos {
    margin-top: 170px;
    position: relative;
}

.photos_wrapper {
    margin-left: 291px;
}

.photos img {
    position: absolute;
    top: 0;
    right: 0;
}

.customer {
    position: relative;
}

.container_customer {
    position: relative;
}

.customer_block {
    margin-left: 200px;
    padding-top: 700px;
    position: relative;
}

.customer_block::before {
    margin-top: 700px;
    content: "";
    width: 88px;
    height: 91px;
    background: url("../img/Subtract_black.svg") no-repeat center / cover;
    position: absolute;
    top: -50px;
    left: -46px;
    z-index: 0;
}

.customer_title {
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.1em;
    color: #ffffff;
    max-width: 483px;
}

.customer_title span {
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.1em;
    color: #591567;
}

.customer_text {
    max-width: 432px;
    margin-top: 39px;
    font-weight: 700;
    font-size: 16px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.item {
    position: absolute;
    filter: drop-shadow(0px 29px 23px rgba(92, 14, 98, 0.08));
}

.item img {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}

.item1 {
    top: 345px;
    right: 362px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item_img {
    width: 132px;
    height: 132px;
    margin: 0 auto 34px;
}

.item_text {
    max-width: 367px;
    font-weight: 700;
    font-size: 16px;
    line-height: 128.6%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.item_name {
    margin-top: 11.32px;
    font-weight: 900;
    font-size: 21.1226px;
    line-height: 128.6%;
    text-align: center;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #ffbc51;
}

.item_subname {
    font-weight: 700;
    font-size: 14.0817px;
    line-height: 128.6%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffbc51;
}

.item2 {
    bottom: 0px;
    right: 382px;
    width: 95px;
    height: 95px;
    margin-bottom: 34px;
}

.item3 {
    top: 257px;
    right: 78px;
    width: 106px;
    height: 106px;
}

.item4 {
    top: 521px;
    right: 154px;
    width: 80px;
    height: 80px;
}

.item5 {
    bottom: 24px;
    right: 57px;
    width: 70px;
    height: 70px;
}

.last_image img {
    max-height: 1100px;
}

.last_wrapper {
    margin-top: 110px;
    background-color: #fff;
}

.try_block {
    background: #ffffff;
    border-radius: 10px;
    padding: 65px 136px 65px 152px;
    margin: 0 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 71px;
}

.try_title {
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #5c515c;
}

.try_title span {
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #591567;
}

.try_btn {
    background: #ffbc51;
    border-radius: 4px;
    padding: 17px 60px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.try {
    margin-top: 121px;
    position: relative;
    z-index: 1;
}

footer {
    min-height: 689px;
    background: #210933;
    margin-top: -85px;
}

.footer_wrapper {
    padding-top: 244px;
    margin: 0 377px 0 200px;
    display: flex;
    justify-content: space-between;
}

.footer_social {
    margin-top: 52px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.footer_rights {
    margin-top: 43px;
    display: flex;
    gap: 11px;
    align-items: flex-start;
}

.footer_rights p {
    font-weight: 700;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
}

.footer_item {
    margin-top: 29px;
}

.footer_title {
    margin-bottom: 51px;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_list li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
}

.last_image {
    z-index: 0;
}

.hamburger {
    display: none;
}

.logos_header {
    display: none;
}

.blocks_img {
    display: none;
}

.swiper {
    display: none;
}

.inmenu {
    display: none;
}

.phone {
    display: none;
}

@media (max-width: 1500px) {
    .container {
        width: unset;
        padding: 0 140px;
    }
    .blocks_main {
        right: 193px;
    }
    .blocks_wrapper {
        left: 148px;
    }
    .tablet_block {
        margin-left: 100px;
    }
    .tablet_wrapper img {
        margin-right: unset;
    }
    .gallery_wrapper img {
        margin-left: unset;
    }
    .gallery_block {
        margin-right: 100px;
    }
    .photos_wrapper {
        margin-left: 75px;
    }
    .last_wrapper {
        padding-top: 20px;
        margin-top: 0;
    }
    .photos img {
        z-index: 2;
    }
    footer {
        margin-top: -112px;
    }
    .try {
        margin-top: 117px;
        z-index: 1;
    }
    .try_block {
        padding: 65px 38px 65px 38px;
        margin: 0px 78px;
    }
    .wrap {
        display: flex;
        justify-content: space-between;
    }
    .photos {
        margin-top: 112px;
        background-color: #fff;
    }
    .customer_block {
        margin-left: 75px;
    }
    .footer_wrapper {
        padding-top: 244px;
        margin: 0 208px 0 200px;
    }
}

@media (max-width: 1400px) {
    .container {
        padding: 0 80px;
    }
    .header_img img {
        object-fit: cover;
        width: 100%;
    }
    .header_img {
        width: 1000px;
    }
    .main {
        margin-top: 75px;
    }
    .blocks_main {
        right: 43px;
    }
    .blocks_wrapper {
        left: 92px;
    }
    .photos_wrapper {
        margin-left: 0;
    }
    .item3 {
        right: 52px;
    }
    .item4 {
        right: 111px;
    }
    .item5 {
        bottom: 0px;
        right: 23px;
    }
    .item2 {
        bottom: -30px;
        right: 234px;
    }
    .item1 {
        top: 331px;
        right: 261px;
    }
    .try {
        margin-top: 39px;
    }
    .try_block {
        padding: 45px 38px 45px 38px;
    }
    .footer_wrapper {
        margin: 0 85px 0 85px;
    }
}

@media (max-width: 1200px) {
    .header_img {
        width: 734px;
    }
    .main {
        margin-top: 110px;
    }
    .blocks_main {
        left: 42px;
        top: -85px;
    }
    .blocks_wrapper {
        left: 186px;
        top: 187px;
    }
    .blocks {
        min-height: 665px;
    }
    .tablet_block {
        margin-left: 0;
    }
    .gallery_block {
        margin-right: 0;
    }
    .photos img {
        width: 500px;
    }
    .photos {
        z-index: 1;
    }
    .last_wrapper {
        margin-top: -92px;
    }
    .item1 {
        top: 206px;
        right: 166px;
    }
    .item3 {
        right: 31px;
        top: 186px;
    }
    .item4 {
        right: 70px;
        top: 408px;
    }
    .customer_block::before {
        top: -270px;
    }
    .customer_block {
        margin-left: 49px;
        padding-top: 475px;
    }
    .try_block {
        padding: 25px 60px 26px 69px;
    }
}

@media (max-width: 993px) {
    .image-wrapper {
        display: none;
    }
    .container {
        padding: 0 40px;
    }
    header {
        min-height: 580px;
        background: url("../img/phone_bg.svg") no-repeat center / cover;
    }
    nav {
        position: relative;
        padding-right: 50px;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        width: 26px;
        height: 16px;
    }
    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 5px;
        transition: 0.5s all;
    }
    .nav_list {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        padding: 20px 15px;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.6s all;
        z-index: 5;
    }
    .hamburger_active {
        position: fixed;
        right: 51px;
    }
    .hamburger_active span {
        margin-bottom: -2px;
    }
    .hamburger_active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
    }
    .hamburger_active span:nth-child(2) {
        display: none;
    }
    .hamburger_active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg);
    }
    .menu_active {
        left: 0;
    }
    .logos_header {
        display: flex;
        margin-top: 33px;
        padding: 0 47px;
        justify-content: space-between;
    }
    .header_img {
        display: none;
    }
    .logos_header > .logos_img {
        opacity: 0.7;
    }
    .logos_img img {
        transform: scale(2);
    }
    .blocks_img {
        display: block;
    }
    .blocks_wrapper {
        position: static;
        margin: 0 auto;
    }
    .blocks_container {
        display: block;
    }
    .blocks_main {
        position: static;
    }
    .blocks_img {
        margin-top: 50px;
        width: 662.17px;
    }
    .logos {
        display: none;
    }
    body,
    .blocks {
        background: #ffffff;
    }
    .tablet_wrapper img {
        width: 386px;
        margin-top: 30px;
    }
    .gallery_wrapper img {
        width: 381px;
        object-fit: cover;
    }
    .photos {
        margin-top: 81px;
        margin-bottom: 100px;
    }
    .photos img {
        width: 364px;
        margin-top: 50px;
        object-fit: cover;
    }
    .last_wrapper {
        padding: 0;
        margin: 0;
        background: linear-gradient(96.34deg, #5c0e62 17.75%, #00b5d0 81.75%);
    }
    .item {
        display: none;
    }
    .customer_block::before {
        content: none;
    }
    .customer_block {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .customer,
    .swiper {
        min-height: 500px;
    }
    .customer_title {
        margin-top: 80px;
        text-align: center;
    }
    .customer_text {
        display: none;
    }
    .swiper {
        display: block;
    }
    .item_img {
        width: 226px;
        height: 226px;
        margin: 50px auto 0;
    }
    .item_img img {
        object-fit: cover;
        width: 100%;
    }
    .item_text {
        margin: 34px auto 0;
    }
    .swiper-pagination {
        bottom: 30px !important;
    }
    .try {
        display: none;
    }
    .footer_wrapper {
        margin: 0;
        padding-top: 50px;
    }
    footer {
        margin: 0;
        min-height: 429px;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .blocks_img {
        margin-top: 50px;
        width: 100%;
    }
    .nav_btns {
        display: none;
    }
    .inmenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .inmenu a {
        margin: 0 auto 10px;
    }
    .blocks_wrapper {
        gap: 23px;
    }
    .blocks_item {
        max-width: 236px;
        max-height: 182px;
        padding: 21px 23px 18px 32px;
    }
    .tablet_wrapper {
        flex-wrap: wrap;
    }
    .tablet_wrapper img {
        order: -1;
        object-fit: cover;
    }
    .tablet_block {
        margin: 0;
        padding: 0;
    }
    .gallery_wrapper {
        flex-wrap: wrap;
    }
    .gallery_wrapper img {
        margin-top: 0;
        margin: 0 auto;
    }
    .gallery_block {
        margin: 40px 0 0;
        padding: 0;
        max-width: unset;
    }
    .photos {
        display: flex;
        flex-wrap: wrap;
    }
    .photos img {
        width: 100%;
        margin: 0;
        padding: 0;
        order: -1;
        position: static;
    }
    .photos_block {
        max-width: unset;
        margin: 40px 0 0;
        padding: 0;
    }
    footer {
        padding-bottom: 50px;
    }
    .footer_wrapper {
        flex-wrap: wrap;
    }
    .footer_item:first-child {
        margin-right: 300px;
        margin-bottom: 38px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 32px;
    }
    .header_logo img {
        max-width: 21.49px;
    }
    .header_logo p {
        font-size: 20.1818px;
        line-height: 27px;
    }
    .hamburger {
        right: 0;
    }
    .hamburger_active {
        position: fixed;
        right: 32px;
    }
    .main {
        margin-top: 57.37px;
    }
    .header_title {
        font-size: 38.3448px;
        line-height: 47px;
        text-shadow: none;
        max-width: 278px;
    }
    .header_text {
        margin-top: 10.49px;
        font-size: 14.1355px;
        line-height: 17px;
    }
    .header_btn {
        margin-top: 30.16px;
        background: #798ac9;
        border: 0.81px solid rgba(171, 163, 163, 0.2);
        border-radius: 3.24px;
        padding: 12.15px 49px 10px 47px;
        font-size: 14.58px;
        line-height: 18px;
    }
    .logos_header {
        margin-top: 33.77px;
        padding: 0 15px 24px;
    }
    .logos_img img {
        transform: none;
    }
    header {
        min-height: unset;
    }
    .blocks_img {
        margin: 50.53px auto 0;
        width: 315.17px;
        height: 179.13px;
    }
    .block_title,
    .block_title span {
        font-size: 24px;
        line-height: 128.6%;
        margin-right: -1px;
    }
    .blocks_main {
        margin-top: 22px;
        margin-left: 3px;
        padding: 0;
    }
    .block_text {
        margin-top: 12px;
        font-size: 16px;
        line-height: 128.6%;
    }
    .link {
        margin-top: 16px;
        font-size: 14px;
        line-height: 17px;
    }
    .link::after {
        content: none;
    }
    .blocks_wrapper {
        display: none;
    }
    .blocks {
        min-height: unset;
    }
    .block_link {
        margin-top: 12px;
    }
    .tablet_wrapper img {
        margin: 57px auto 0;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        width: 260px;
        height: 238px;
    }
    .tablet_block {
        margin-top: 22.35px;
    }
    .red-text {
        font-size: 12.7849px;
        line-height: 128.6%;
    }
    .title-text,
    .title-text span {
        margin-top: 2px;
        font-size: 24px;
        line-height: 128.6%;
    }
    .descr-text {
        font-size: 14.6113px;
        line-height: 128.6%;
    }
    .gallery_wrapper {
        margin-top: 33.21px;
    }
    .gallery_wrapper img {
        margin: 0 auto;
        padding: 0;
        width: 295.39px;
        height: 213.63px;
    }
    .tablet {
        min-height: unset;
    }
    .photos {
        margin-top: 42px;
        margin-bottom: 59px;
    }
    .customer_title,
    .customer_title span {
        margin-top: 67px;
        font-size: 24px;
        line-height: 128.6%;
        max-width: 264px;
    }
    .item_img {
        width: 132px;
        height: 132px;
        margin: 74px auto 0;
    }
    .item_text {
        margin-top: 34px;
        font-size: 14px;
        line-height: 128.6%;
    }
    .item_subname {
        margin-top: 4px;
        margin-bottom: 97px;
    }
    .customer,
    .swiper {
        min-height: unset;
    }
    .swiper-pagination {
        bottom: 47px !important;
    }
    .swiper-pagination-bullet-active {
        background: #ffffff;
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .footer_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 73px;
        gap: 48px;
    }
    .footer_item:first-child {
        margin-right: 0;
        margin-bottom: 0;
    }
    .footer_item {
        margin: 0;
        padding: 0;
    }
    .footer_social {
        display: none;
    }
    .footer_rights {
        display: none;
    }
    .footer_list li {
        text-align: center;
    }
    .footer_title {
        text-align: center;
        margin-bottom: 30px;
    }
    .header_logo p {
        font-size: 27.6364px;
        line-height: 38px;
    }
    .header_logo img {
        max-width: 29.43px;
    }
    .phone_social {
        display: flex;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }
    .phone_rights {
        margin-top: 22.27px;
        display: flex;
        gap: 11.21px;
    }
    .rights_text {
        display: flex;
        gap: 11.21px;
    }
    .rights_text p {
        font-size: 10.4637px;
        font-weight: 700;
        line-height: 128.6%;
        letter-spacing: 0.04em;
        color: #857885;
    }
    .phone_rights img {
        width: 11.96px;
        height: 11.96px;
    }
    .phone {
        display: block;
    }
    footer {
        padding-bottom: 55px;
    }
    .nav_list {
        width: 63%;
    }
    .white-block::before {
        width: 50px;
        height: 51px;
        left: -26px;
        top: -22.25px;
    }
}
