@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Extrabld.eot");
    src: local("Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../fonts/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.eot");
    src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Black.eot");
    src: local("Proxima Nova Black"), local("ProximaNova-Black"), url("../fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Bold.eot");
    src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    background: #f7f3fa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 1500px;
}

header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /* min-height: 1000px; */
}

.container_header {
    padding: 0 168px;
}

.image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

nav {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    text-decoration: none;
    display: flex;
    gap: 8.35px;
}

.header_logo p {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav_list li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}

.nav_btns a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    margin-right: 38px;
}

.nav_btn {
    background: #ffbc51;
    border-radius: 96px;
    border: none;
    padding: 12px 40px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    cursor: pointer;
}

.main {
    max-width: 397px;
    margin-top: 160px;
}

.header_title {
    font-weight: 800;
    font-size: 54.7642px;
    line-height: 67px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_text {
    margin-top: 18.25px;

    font-size: 18.2547px;
    line-height: 22px;
    color: #ffffff;
}

.header_btn {
    margin-top: 53.02px;
    background: #798ac9;
    border: 1px solid rgba(171, 163, 163, 0.2);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 14px 60px;

    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}

.header_img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) !important;
    right: 50px;
}


.logos_header {
    display: none;
}

.inmenu {
    display: none;
}

.blocks {
    min-height: 610px;
}

.blocks_container {
    position: relative;
}

.blocks_main {
    position: absolute;
    max-width: 377px;
    padding: 42px 0 0 46px;
    top: 0;
    right: 258px;
}

.title-text {
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
}

.title-text span {
    font-weight: 800;
    font-size: 40px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #5c0e62;
}

.descr-text {
    margin-top: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #857885;
}

.link {
    display: inline-block;
    text-decoration: none;
    margin-top: 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #5c0e62;
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    width: 17.5px;
    height: 10px;
    right: -13px;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    background: url("../img/arrow.svg") no-repeat center / cover;
}

.blocks_wrapper {
    position: absolute;
    left: 175px;
    top: 121px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 607px;
}

.blocks_item {
    max-width: 280px;
    max-height: 164px;
    padding: 30px 30px 30px 49px;
    background: #ffffff;
    box-shadow: 7px 10px 50px #e8e2f0;
    border-radius: 4px;
    position: relative;
}

.blocks_item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(150.72deg, #00b5d0 3.87%, #5c0e62 110.68%);
    box-shadow: 7px 10px 50px #e8e2f0;
    border-radius: 10px 0px 0px 10px;
}

.blocks_item:nth-child(odd) {
    margin-top: 60px;
}

.block_name {
    margin-top: 2px;
    font-weight: 700;
    font-size: 22px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #5c5e6e;
}

.block_descr {
    margin-top: 8px;
    font-size: 16px;
    line-height: 128.6%;
    letter-spacing: 0.075em;
    color: #756f6f;
    opacity: 0.7;
}

.logos {
    margin: 70px 0;
    min-height: 35px;
}

.logos_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 139px;
}

.tablet {
    min-height: 480px;
}

.wrap {
    display: flex;
    justify-content: space-between;
}

.tablet_block {
    margin-left: 291px;
    margin-top: 60px;
}

.white-block {
    max-width: 345px;
    padding: 38.35px 0 0 42px;
    position: relative;
}

.red-text {
    font-weight: 700;
    font-size: 12.7849px;
    line-height: 128.6%;
    letter-spacing: 0.04em;
    color: #e23434;
    margin-bottom: 4px;
}

.tablet_wrapper img {
    margin-right: 219px;
}

.pink-block::before {
    content: "";
    width: 88px;
    height: 91px;
    background: url("../img/Subtract.svg") no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.white-block::before {
    content: "";
    width: 88px;
    height: 91px;
    background: url("../img/Subtract_pink.svg") no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.body_image {
    top: -250px;
}

.gallery_wrapper {
    margin-top: 20px;
}

.gallery_wrapper img {
    margin-left: 160px;
    margin-top: -90px;
}

.gallery_block {
    margin-right: 258px;
}

.photos {
    margin-top: 170px;
    position: relative;
}

.photos_wrapper {
    margin-left: 291px;
}

.photos img {
    position: absolute;
    top: 0;
    right: 0;
}